.animeCard__container{
    margin: 10px;
    

}

.animeCard__paper{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}

.animeCard__paper:hover{
    background-color: darkgray;
    opacity: .8px;
}